@import "vars";

/* ==========  Desktop First  ========== */


/* ≥1200px */
@include media-breakpoint-down(lg) {
	.header {
		&_top_text {
			font-size: 14px;
			max-width: 300px;
		}
		&.active {
			.menu {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	.footer {
		font-size: 14px;
		&_item_title {
			font-size: 16px;
			margin-bottom: 10px;
		}
		&_item_list {
			li {
				margin-bottom: 5px;
			}
		}
	}
	.main {
		padding-top: 100px;
	}
	.app_link {
		margin-right: 10px;
	}
	.social {
		margin-top: 5px;
		&_title {
			margin-bottom: 5px;
		}
	}
	.burger {
		display: block;
		margin-left: 20px;
	}
	.menu {
		position: absolute;
		background: #ffffff;
		left: 0;
		right: 0;
		top: 100%;
		opacity: 0;
		visibility: hidden;
		&_item {
			margin-left: 15px;
			margin-right: 15px;
			font-size: 16px;
			a {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	.logo {
		order: 1;
		font-size: 34px;
	}
	.search {
		order: 2;
		padding-top: 10px;
		padding-bottom: 10px;
		&_input,
		&_btn {
			height: 30px;
		}
	}
	.shop_menu {
		width: auto;
		order: 3;
	}
	.sub_menu_item {
		a {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

/* ≥992px */
@include media-breakpoint-down(md) {
	.footer {
		text-align: center;
		&_item {
			margin-bottom: 20px;
		}
	}
	.add_filter {
		margin-right: 20px;
	}
	.additional_filter_btn {
		font-size: 16px;
		max-width: 140px;
	}
	.reviews_item {
		margin-left: 10px;
		margin-right: 10px;
		max-width: 340px;
	}
}

/* ≥768px */
@include media-breakpoint-down(sm) {
	.footer {
		text-align: center;
		&_logo {
			margin-bottom: 20px;
		}
	}
	.header {
		&_top_text {
			display: none;
		}
		&_content {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&.active {
			.logo {
				font-size: 28px;
			}
			.menu_item {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.user_menu {
		font-size: 14px;
		&_item {
			margin-right: 15px;
		}
	}
	.logo {
		font-size: 28px;
	}
	.search {
		position: absolute;
		display: none;
	}
	.menu {
		display: block;
		max-height: calc(100vh - 112px);
		overflow: auto;
		&_item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			position: static;
			text-align: center;
		}
	}
	.sub_menu {
		position: static;
		&_item {
			padding: 0;
			.sub_menu {
				padding-left: 0;
			}
			> a {
				padding-left: 40px;
				padding-top: 10px;
				padding-bottom: 10px;
				&:before {
					content: none;
				}
			}
		}
		&_list {
			margin-bottom: 30px;
			a {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.sub_menu_content {
			box-shadow: none;
			border-radius: 0;
			padding: 0;
			border-top: 1px solid #b9babc;
			border-bottom: 1px solid #b9babc;
		}
	}
	.filter {
		margin-right: 20px;
	}
	.add_filter {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		&:last-child {
			margin-right: 10px;
		}
	}
	.best_selling_title {
		font-size: 30px;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	.subscribe_title {
		font-size: 30px;
		line-height: 34px;
	}
	.filters,
	.sorting {
		margin-bottom: 30px;
	}
	.home_top_title {
		font-size: 30px;
		line-height: 36px;
	}
	.go_up {
		font-size: 30px;
	}
	.modal-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.modal_submit_btn {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* ≥576px */
@include media-breakpoint-down(xs) {

}

/* ==========  Mobile First  ========== */

/* ≤576px */
@include media-breakpoint-up(sm) {

}

/* ≤768px */
@include media-breakpoint-up(md) {

}

/* ≤992px */
@include media-breakpoint-up(lg) {

}

/* ≤1200px */
@include media-breakpoint-up(xl) {
}

@media (min-width: 1921px) {
	.home_top_img_wrap {
		left: auto;
		right: 0;
	}
}

@media (hover: hover) and (min-width: 992px) {
	.nav {
		&_item {
			&:hover {
				background: #f3f3f3;
				a {
					color: $accent;
					span {
						&:after {
							transform: translateX(0);
						}
					}
				}
			}
			&:hover {
				> .sub_nav {
					display: block;
				}
			}
		}
	}
	.sub_nav {
		.nav_item {
			&:hover {
				background: #f3f3f3;
			}
		}
	}
}