@import "vars";
@import "fonts";
@import "libs";



::-webkit-input-placeholder {
	color: lighten($text, 25%);
}
::-moz-placeholder {
	color: lighten($text, 25%);
}
:-ms-input-placeholder {
	color: lighten($text, 25%);
}
::-ms-input-placeholder {
	color: lighten($text, 25%);
}
::placeholder {
	color: lighten($text, 25%);
}
::-moz-selection {
	background-color: $accent;
	color: #fff;
}
::selection {
	background-color: $accent;
	color: #fff;
}
* {
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
}
.header {
	flex: 0 0 auto;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
input, button, textarea {
	outline: none;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
}
input, textarea {
	padding: 10px;
}
textarea {
	resize: none;
}
label {
	margin-bottom: 0;
}
ul {
	list-style: none;
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
button, .btn {
	background: none;
	color: $accent;
	border: 1px solid currentColor;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: normal;
	@extend.animate;
	&:hover {
		background: $accent;
		color: #ffffff;
	}
}
.animate {
	transition: all 0.3s ease-out;
}
.no_scroll {
	overflow: hidden;
	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}
.modal-backdrop {
	background: rgba(0, 0, 0, 0.6);
}
.hidden {
	display: none !important;
}
.burger {
	display: none;
	height: 25px;
	width: 30px;
	position: relative;
	transition: .5s ease-in-out;
	cursor: pointer;
    z-index: 1;
	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: $text;
		border-radius: 4px;
		opacity: 1;
		left: 0;
		transition: .25s ease-in-out;
		&:nth-child(1) {
  			top: 0px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 10px;
		}
		&:nth-child(4) {
			top: 20px;
		}
	}
	&.active {
		span {
			&:nth-child(1) {
				top: 10px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 10px;
				width: 0%;
				left: 50%;
			}
		}
	}
}
.container {
	max-width: 1550px;
}
.select {
	position: relative;
	.options {
		position: absolute;
		background: #ffffff;
		top: 100%;
		left: 50%;
		display: none;
		transform: translateX(-50%);
		z-index: 2;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		overflow: hidden;
		text-align: center;
	}
	.option {
		cursor: pointer;
		padding: 10px;
		color: $text;
		@extend.animate;
		&:hover {
			background: #eeeeee;
		}
	}
	.current_option {
		cursor: pointer;
		padding-left: 10px;
		padding-right: 15px;
		&:after {
			content: '';
			position: absolute;
			top: 42%;
			right: 0;
			border: solid  $accent;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			@extend.animate;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg) translateY(-50%);
		}
	}
	&.active {
		.current_option {
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}
.go_up {
	position: fixed;
	right: 15px;
	bottom: 30px;
	color: #f7ac37;
	font-size: 40px;
	cursor: pointer;
	z-index: 2;
	@extend.animate;
	&:hover {
		color: $accent;
	}
}

/*-- HEADER --*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 3;
	&_top {
		background: #2c2e34;
		color: #ffffff;
		height: 50px;
		@extend.animate;
		&_text {
			line-height: 16px;
			padding-right: 20px;
		}
	}
	&_content {
		.container {
			flex-wrap: wrap;
		}
	}
	&.active {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
		.header_top {
			background: $accent;
			color: $text;
		}
		.signup_btn {
			color: #2166b6;
		}
		.header_content {
			.container {
				flex-wrap: nowrap;
			}
		}
		.logo {
			order: 1;
			font-size: 34px;
		}
		.menu {
			order: 2;
			width: auto;
			&:before {
				opacity: 0;
			}
		}
		.search {
			order: 3;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.shop_menu {
			order: 4;
			width: auto;
		}
		.page_item {
			margin-left: 15px;
			margin-right: 15px;
		}
		.select {
			.current_option {
				&:after {
					color: $text;
				}
			}
			&:hover {
				.current_option {
					&:after {
						color: #ffffff;
					}
				}
			}
		}
		.user_menu_item {
			&:hover {
				color: #ffffff;
			}
		}
	}
}
.user_menu {
	&_item {
		margin-right: 25px;
		min-width: 60px;
		@extend.animate;
		&:hover {
			color: $accent;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.select {
		text-transform: uppercase;
	}
	.loggedin_user {
		text-transform: none;
		.options {
			width: 230px;
			text-align: left;
			left: auto;
			right: 0;
			transform: none;
		}
		// .option {
			a {
				position: relative;
				padding: 15px 20px;
				// transition: none;
				color: $text;
				display: block;
				&:before {
					content: '';
					position: absolute;
					bottom: 5px;
					left: 20px;
					right: 20px;
					border-bottom: 1px solid #b9babc;
				}
				&:after {
					content: '\f105';
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
				}
				&:last-of-type {
					&:before {
						content: none;
					}
				}
				&:hover {
					background: inherit;
					color: $accent;
					&:before {
						border-color: $accent;
					}
				}
			}
		// }
	}
}
.logout_btn {
	background: $accent;
	color: #ffffff;
	width: 100%;
    border: none;
    height: 45px;
}
.signup_btn {
	color: $accent;
}
.login_btn,
.signup_btn {
	cursor: pointer;
}
.search,
.subscribe {
	position: relative;
	display: flex;
	width: 300px;
	padding-top: 30px;
    padding-bottom: 30px;
	&_input {
		border: 1px solid #b9babc;
		border-right: none;
		height: 40px;
		padding-left: 15px;
		padding-right: 5px;
		border-radius: 4px 0 0 4px;
	}
	&_btn {
		border: 1px solid $accent;
		border-radius: 0 4px 4px 0;
		height: 40px;
		width: 85px;
		background: $accent;
		color: #ffffff;
		&:hover {
			color: $text;
		}
	}
}
.subscribe {
	&_btn {
		background: #578ee7;
		border-color: #578ee7;
		text-transform: uppercase;
		width: 100px;
		&:hover {
			border-color: $accent;
		}
	}
	&_section {
		background: #f0ece9;
		padding-top: 30px;
		text-align: center;
	}
	&_title {
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 300;
		line-height: 46px;
		margin-bottom: 10px;
	}
	&_subtitle {
		font-size: 18px;
	}
}
.reviews {
	&_section {
		padding-top: 30px;
		padding-bottom: 30px;
		background: linear-gradient(to right, rgba(251,240,246,1) 0%, rgba(241,245,244,1) 100%);
		.best_selling_title {
			margin-bottom: 30px;
		}
	}
	&_item {
		max-width: 360px;
		width: 100%;
		background: #ffffff;
		border-radius: 5px;
		padding: 15px;
		position: relative;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 40px;
		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 15px;
			border: 20px solid transparent;
			border-left: 15px solid #ffffff;
			transform: rotate(20deg);
		}
		.rating {
			i {
				color: #fcaf17;
			}
		}
	}
	&_name {
		text-transform: uppercase;
		color: #7e8789;
		font-weight: 600;
	}
	&_text {
		margin-top: 20px;
		font-size: 14px;
	}
}
.logo {
	font-size: 42px;
	font-weight: 300;
	color: #578ee7;
	@extend.animate;
	span {
		font-weight: 600;
		color: $accent;
	}
	&:hover {
		color: $accent;
	}
}
.shop_menu {
	width: 300px;
}
.favorites,
.cart {
	font-size: 24px;
	height: 40px;
	display: flex;
	align-items: center;
	a {
		&:hover {
			color: $accent;
		}
	}
}
.favorites {
	color: #d33c60;
	margin-left: 15px;
	&:after {
		content: '';
		border-right: 1px solid #b9babc;
		margin-right: 15px;
		margin-left: 15px;
		height: 40px;
	}
	a {
		&:hover {
			color: #d33c60;
			i {
				font-weight: 900;
			}
		}
	}
}
.cart {
	color: #578ee7;
}
.menu {
	font-size: 20px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@extend.animate;
	&:before {
		content: '';
		position: absolute;
		height: 1px;
		width: 100vw;
		background: #b9babc;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&_item {
		margin-left: 30px;
		margin-right: 30px;
		position: relative;
		a {
			padding-top: 15px;
			padding-bottom: 15px;
			display: block;
		}
		&:hover {
			> a {
				color: $accent;
			}
		}
		// &.has_child {
		// 	&:hover {
		// 		> .sub_menu {
		// 			display: block;
		// 		}
		// 	}
		// }
	}
}
.sub_menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	padding-top: 5px;
	.sub_menu_content {
		border-radius: 4px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
		background: #ffffff;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&_item {
		padding: 15px;
		@extend.animate;
		&:hover {
			> a {
				color: $accent;;
			}
		}
		> a {
			position: relative;
			display: block;
			padding-right: 40px;
			padding-top: 0;
			padding-bottom: 0;
			&:before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				border-bottom: 1px solid #b9babc;
			}
			&:after {
				content: '\f101';
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
			}
		}
		&:last-child {
			> a {
				&:before {
					content: none;
				}
			}
		}
		.sub_menu {
			top: 5px;
			left: 100%;
			font-size: 16px;
			display: none;
			padding-left: 5px;
			padding-top: 0;
			background: none;
			box-shadow: none;
		}
		.sub_menu_content {
			padding: 30px;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
			border-radius: 4px;
		}
	}
	&_title {
		text-transform: uppercase;
		color: #2c2e34;
		font-weight: 600;
		border-bottom: 1px solid $accent;
		margin-bottom: 10px;
		@extend.animate;
	}
	&_list {
		&:hover {
			.sub_menu_title {
				color: $accent;
			}
		}
		&_item {
			margin-bottom: 10px;
			a {
				padding-top: 0;
				padding-bottom: 0;
				&:hover {
					color: $accent;
				}
			}
		}
	}
}
.view_all_btn {
	color: #f7ad3b;
	text-transform: uppercase;
	&:before {
		content: '\f105';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		margin-right: 5px;
	}
}

/*-- MAIN --*/
.main {
	padding-top: 210px;
}
.products_section {
	background: #f0f0f0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.prod_card {
	background: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	@extend.animate;
	&:hover {
		box-shadow: 0 0 0 2px #2edab8;
	}
	&_wrap {
		margin-bottom: 60px;
	}
	&_img {
		margin-bottom: 15px;
		height: 210px;
	}
	&_price {
		color: $accent;
		width: 50%;
		text-align: center;
		font-size: 22px;
		font-weight: 600;
	}
	&_btn {
		background: $accent;
		color: #ffffff;
		width: 50%;
		border: none;
		font-weight: bold;
		text-transform: uppercase;
		height: 55px;
		&:hover {
			color: $text;
		}
	}
	&_content {
		padding: 15px;
	}
	&_title {
		margin-bottom: 15px;
	}
	&_info {
		border-top: 1px solid #f7f7f7;
		padding: 15px;
		&_item {
			width: calc(100% / 3);

		}
	}
	&_nprice {
		color: #b5b5b5;
		font-size: 14px;
	}
	&_bonus {
		font-size: 14px;
		color: #ed627f;
	}
	&_favorites {
		color: #2c2e34;
		cursor: pointer;
		@extend.animate;
		&:hover {
			color: $accent;
		}
	}
	.favor_icon {
		color: #d33c60;
		font-size: 20px;
		margin-right: 5px;
		&.active {
			font-weight: 900;
		}
	}
	.info_icon {
		color: #2edab8;
		font-size: 20px;
	}
	.delivery_icon {
		height: 30px;
	}
}
.filters {
	font-size: 18px;
}
.filters,
.sorting {
	margin-bottom: 50px;
}
.filter {
	margin-right: 45px;
	cursor: pointer;
	@extend.animate;
	&.active {
		color: #578ee7;
	}
	&:hover {
		color: $accent;
	}
}
.sorting {
	background: #e6e6e6;
	border-radius: 4px;
}
.sort_item {
	padding: 5px 15px;
	border-radius: 4px;
	cursor: pointer;
	@extend.animate;
	&:hover {
		background: $accent;
		color: #ffffff;
	}
	&.active {
		background: #acacac;
		color: #ffffff;
		&:after {
			content: '\f103';
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
		}
	}
}
.show_more_btn {
	text-transform: uppercase;
	margin: auto;
	height: 50px;
	width: 240px;
	border-radius: 4px;
	color: #ffffff;
	background: lighten($accent, 20%);
	border-color: lighten($accent, 20%);
	&:hover {
		background: $accent;
		border-color: $accent;
	}
}

.best_selling {
	&_section {
  	background-color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		.prod_card {
			box-shadow: 0 0 0 1px #f4f4f4;
			&:hover {
				box-shadow: 0 0 0 2px $accent;
			}
		}
	}
	&_title {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 40px;
		&_wrap {
			margin-bottom: 30px;
		}
	}
}
.all_prods_link {
	color: $accent;
	text-decoration: underline;
	text-transform: uppercase;
}
.additional_filters {
	padding-top: 20px;
	background-color: #f0f0f0;
}
.additional_filter_btn {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: $text;
	border: 2px solid #adb3bd;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
	height: 40px;
	padding: 5px 10px;
	width: 100%;
	max-width: 175px;
	margin-bottom: 10px;
	&:hover,
	&.active {
		background: #578ee7;
		border-color: #578ee7;
		color: #ffffff;
	}
}
.add_filters_wrap {
	padding-top: 20px;
	padding-bottom: 20px;
}
.add_filter {
	cursor: pointer;
	display: flex;
	align-items: center;
	@extend.animate;
	margin-right: 50px;
	&:last-child {
		margin-right: 0;
	}
	svg {
		height: 25px;
		width: auto;
		margin-left: 5px;
	}
	path, rect {
		fill: #adb3bd;
		@extend.animate;
	}
	&:hover,
	&.active {
		color: #578ee7;
		path, rect {
			fill: #578ee7;
		}
	}
}
.home_top {
	&_section {
		background: #efe6eb;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	&_content {
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
	}
	&_title {
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 300;
	}
	&_subtitle {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		width: 100%;
		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			max-width: 90px;
			width: 100%;
			background: $text;
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	&_img_wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 610px;
		img {
			height: 100%;
			max-width: none;
		}
	}
	&_text {
		margin-bottom: 30px;
	}
}
.benefits_wrap {
	img {
		height: 40px;
		margin-bottom: 10px;
	}
}
.benefit {
	margin-bottom: 30px;
}
.home_top_link {
	display: block;
	border-bottom: 1px solid #9ae3f0;
	margin-bottom: 10px;
	&:after {
		content: '';
		color: #495771;
		vertical-align: middle;
		margin-left: 10px;
		border: solid black;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}
	&:hover {
		color: $accent;
		&:after {
			@extend.animate;
			color: $accent;
		}
	}
}

/*-- CUSTOM CHECKBOXES --*/
.custom_checkboxes {
	.input_container {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 0;
		cursor: pointer;
		font-size: 16px;
		user-select: none;
		@extend.animate;
		&:hover {
			color: $accent;
		}
	}
	.input_container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.checkmark {
		position: absolute;
		top: 50%;
    	transform: translateY(-50%);
		left: 0;
		height: 16px;
		width: 16px;
		border: 2px solid #6c6389;
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			transform: translate(-50%, -50%);
			background: #6c6389;
		}
	}
	.input_container input:checked ~ .checkmark:after {
		display: block;
	}
	&.circle {
		.checkmark {
			border-radius: 50%;
			&:after {
				border-radius: 50%;
			}
		}
	}
}














/*-- FOOTER --*/
.footer {
	background: #2c2e34;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
	&_item_title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 15px;
	}
	&_item_list {
		li {
			margin-bottom: 10px;
		}
	}
	a {
		&:hover {
			color: $accent;
			path, polygon, rect {
				fill: $accent;
			}
		}
	}
}
.app_link {
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	path, polygon, rect {
		fill: #ffffff;
		@extend.animate;
	}
	svg {
		height: 60px;
	}
}
.social {
	margin-top: 10px;
	&_title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 18px;
	}
	&_link {
		font-size: 20px;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

/*-- MODAL --*/
.modal {
	text-align: center;
	&-dialog {
		max-width: 940px;
		// width: 100%;
	}
	&-content {
		padding-top: 60px;
		padding-bottom: 60px;
		// max-width: 940px;
		// width: 100%;
	}
	&_top_title {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 10px;
	}
	&_title {
		text-transform: uppercase;
		color: #2b2d5c;
		font-weight: 300;
		font-size: 40px;
	}
	&_form {
		width: 100%;
		max-width: 500px;
		margin: auto;
	}
	&_submit_btn {
		background: $accent;
		color: #ffffff;
		margin: auto;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 600;
		height: 50px;
		width: 240px;
		border-radius: 5px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	&_links_wrap {
		width: 100%;
	}
	.mdl-textfield {
		width: 100%;
	}
	.show_pass {
		position: absolute;
		top: 50%;
		right: 0;
		color: $accent;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		transform: translateY(-50%);
	}
	&_open_link {
		color: #5ca0ed;
		text-decoration: underline;
		cursor: pointer;
	}
	&_close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: #bbb;
		font-size: 20px;
	}
	.sign_facebook {
		margin-bottom: 10px;
	}
	.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
	.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
		color: $accent;
	}
	.mdl-textfield.is-focused .mdl-textfield__label:after {
		background: $accent;
	}
	.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
		color: #d50000;
	}
	.mdl-textfield--floating-label.is-invalid .mdl-textfield__label:after {
		background: #d50000;
	}
}


/*-- CUSTOM CHECKBOXES --*/
.custom_checkboxes {
	.input_container {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 0;
		cursor: pointer;
		font-size: 16px;
		user-select: none;
		@extend.animate;
		&:hover {
			color: $accent;
		}
	}
	.input_container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.checkmark {
		position: absolute;
		top: 50%;
    	transform: translateY(-50%);
		left: 0;
		height: 16px;
		width: 16px;
		border: 2px solid #6c6389;
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			transform: translate(-50%, -50%);
			background: #6c6389;
		}
	}
	.input_container input:checked ~ .checkmark:after {
		display: block;
	}
	&.circle {
		.checkmark {
			border-radius: 50%;
			&:after {
				border-radius: 50%;
			}
		}
	}
}


// additional styles

.additional_filters {
	padding-top: 50px;
	padding-bottom: 50px;
}
.product-title-link, .products .product .favorite-product {
	padding: 0;
}
.favorite-product {
	margin-top: 0;
	margin-right: 8px;
}
.product .d-flex-product > a,
.product .d-flex-product div {
	text-align: center;
}
.ui-tooltip {
	text-transform: none!important;
	text-align: center!important;
}
@import "pages/about.scss";
@import "pages/woocommerce.scss";
@import "media"; /* Always at the end*/

