$text-dark: #525252;

$text-light: #999999;

$font-main: 'Nunito', sans-serif;

.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
 
.text-center {
   text-align: center;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.italic {
   font-style: italic;
}

.grey-bg {
   background-color: #f0f0f0;
}

.white-bg {
   background-color: #fff;
}

.mark {
   color: $accent;
   font-weight: 700;
}

.underline {
   text-decoration: underline;
}

.justify-centent-center {
   display: flex;
   justify-content: center;
}

.uppercase {
   text-transform: uppercase;
}

.arrow-right {
   border: solid $text-light;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  bottom: 2px;
}

.btn-link {
   font-size: 18px;
   font-weight: 200;
   color: $text-light;
   .arrow-right {
      margin-left: 10px;
   }
}

.section {
   padding-top: 60px;
   padding-bottom: 60px;
}

.about {
   h1,h2,h3,h4,h5,h6, p {
      font-family: $font-main;
   }
}

.about {

   h2 {
      font-size: 45px;
      color: $text-dark;
      font-weight: 300;
      margin-bottom: 20px;
   }


   h4 {
      font-size: 26px;
      color: $text-light;
      font-weight: 200;
      line-height: 30px;
   }

   h5 {
      font-size: 18px;
      color: #0d3f5e;
      font-weight: 300;
      line-height: 33px;
   }

   h6 {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: $text-light;
   }

   p {
      color: $text-light;
      font-size: 26px;
      font-weight: 200;
      line-height: 36px;
   }

   .mark {
      color: $accent;
      font-weight: 700;
   }

   strong {
      font-weight: 700;
   }

   .icon-wrap {
      width: 120px;
      height: 120px;
      position: relative;
      margin-bottom: 35px;
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         
      }
   }

   .benefits {
      h2 {
         margin-bottom: 60px;
      }

      h4 {
         color: $text-dark;
         font-weight: 600;
      }

      >div{
         &:nth-of-type(2),
         &:nth-of-type(3) {
            margin-bottom: 60px;
         }
      }
   }

   .orders-icon {
      img {
         margin-bottom: 22px;
         margin-top: 30px;
      }
      h6 {
         font-weight: 600;
         font-size: 20px;
         color: $text-dark;
         span {
            font-size: 15px;
            font-weight: 300;
         }
      }

      .btn-link {
         margin-top: 50px; 
         display: inline-block;
      }
   }

   .offer {
      button {
         font-weight: 300;
         font-size: 15px;
         max-width: 205px;
      }
   }
}

/* ≥992px */
@include media-breakpoint-down(md) {
   .about {

   .icon-wrap {
      width: 90px;
      height: 90px;
   }
   }
}
/* ≥768px */
@include media-breakpoint-down(sm) {

.about {

   h2 {
      font-size: 38px;
   }

   h4 {
      font-size: 19px;
      line-height: 22px;
   }

   h5 {
      font-size: 16px;
      line-height: 22px;
   }

   h6 {
      font-size: 14px;
      line-height: 20px;
   }

   p {
      font-size: 20px;
      line-height: 26px;
   }

   .icon-wrap {
      width: 70px;
      height: 70px;
   }

   .orders-icon {
      img {
         height: 30px;
      }

      h4 {
         font-size: 14px;
      }

      h6 {
         font-size: 14px;
      }
   }

   .benefits {
     h2 {
        margin-bottom: 20px;
     }
      >div,
      >div:nth-of-type(2),
      >div:nth-of-type(3)
      {
        margin-bottom: 30px;
      }
   }
}

}