.single-product-page {
   a {
      font-size: inherit;
      color: inherit;
   }

   h1,
   h1 a {
      font-size: 45px;
      font-weight: 200;
      color: #6d6d6d;
   }

   .rating {
      display: inline-block;

      svg {
         width: 20px;
      }

      span {
         font-weight: 300;
         font-size: 14px;
         margin-left: 7px;
         display: inline-block;
      }
   }
}

.member-benefit {
   h5 {
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 25px;
   }

   p {
      font-size: 18px;
      line-height: 33px;
      font-weight: 300;
   }

   a {
      color: $accent;
      text-transform: underline;
   }
}

.single-product {
   .product {
      background-color: #fff;
   }

   .product::after {
      content: "";
      clear: both;
      display: table;
   }
}

.product-hero {
   .p-l {
      padding-left: 120px;
   }

   .p-r {
      padding-right: 120px;
   }

   .p-t {
      padding-top: 120px;
   }

   .p-b {
      padding-bottom: 120px;
   }
}

.product {
   .prod_card_btn {
      .wb-posted_in {
         display: none;

      }

      .button {
         background: transparent;
         color: #fff;
      }
   }

   .d-flex-product {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      >a,
      div {
         width: 50%;
      }
   }

   .prod_card_price {
      width: 100%;
   }

   .delivery_icon {
      width: inherit !important;
   }

   .woocommerce-loop-product__title {
      line-height: 19px;
      min-height: 50px;
   }

   .price span {
      font-size: 14px;
      color: $text-light;
   }
}

.product-info {

   .favourite {
      height: 30px;
      position: relative;
      right: 100px;

      svg {
         width: 100%;
         height: 100%;
      }

      path {
         fill: #ff6b5d;
      }
   }

   .related.products {
      clear: both;
      background-color: #f0f0f0;
   }

   .wc-memberships-member-discount-message {
      border-top: 0;

      &:before {
         display: none;
      }

      background-color: transparent;

      a {
         display: block;
         color: $accent;
      }
   }

   .cart {
      margin: 50px auto 30px auto;
   }

   .woocommerce-product-gallery.woocommerce-product-gallery--with-images {
      padding-left: 150px;
      padding-right: 150px;

   }

   .rating {
      margin-bottom: 30px;
   }

   .entry-summary .price {
      display: flex;
      flex-direction: column-reverse;

      span {
         font-weight: 400;
         margin-top: 15px;
         margin-bottom: 15px;
         display: inline-block;
      }

   }
}

// woocommerce
.woocommerce .woocommerce div.product div.images .woocommerce-product-gallery__trigger {
   margin-right: 100px;
}

.woocommerce div.product p.price del span,
.woocommerce div.product span.price del span {
   font-size: 20px;
   font-weight: 400;
   color: #b5b5b5;
}

.woocommerce div.product p.price ins span,
.woocommerce div.product span.price ins span {
   color: #2c2e34;
   font-size: 40px;
   font-weight: 400;
}

.woocommerce span.onsale {
   background-color: $accent;
   ;
}

.woocommerce div.product p.stock {
   font-size: .92em;
   color: #ed627f;
   text-transform: uppercase;
   top: 40px;
   margin-top: 40px;
   display: none;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
   padding: 15px;
   margin: 0;
   background-color: transparent;
}

.woocommerce ul.products li.product a img {
   width: auto;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
}

.product-info .price span {
   margin-right: 8px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit {
   background-color: #2edab8;
   font-weight: 600;
   font-size: 18px;
   text-transform: uppercase;
   padding: 20px 45px;
   cursor: pointer;
}

.woocommerce a.button:hover {
   background-color: #2edab8;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
   {
   background: #85e9d5;
   border-color: #85e9d5;
}

.woocommerce ul.products li.product .onsale {
   display: none;
}

.woocommerce table.shop_table {
   display: table;
}

.woocommerce a.remove {
   color: $accent !important;
}

.woocommerce a.remove:hover {
   background-color: $accent !important;
   color: #fff;
}

.woocommerce table.shop_table td {
   padding: 20px 12px;
}

.woocommerce {
   input {
      border: 1px solid #f0f0f0;
   }

   table.shop_table {
      border: none;

      th,
      tr {
         font-size: 20px;
         font-weight: 300;
         color: #6d6d6d;
      }

      th {
         color: $text-dark;
         font-weight: 400;
      }

   }
}

body.cart {
   .grey-bg {
      background-color: transparent;
   }

   h2 {
      color: #6d6d6d;
   }

   .order-title {
      color: $text-dark;
      margin-top: 70px;
      margin-bottom: 35px;
   }
}